Microsoft.Flow/flows/5f645b11-5b63-4c50-a357-7f09ff154e61/definition.json
{"name":"8151421e-d991-46c2-9e95-33144a3034d4","id":"/providers/Microsoft.Flow/flows/8151421e-d991-46c2-9e95-33144a3034d4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"v1.1","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d9204594-3b91-49aa-8488-ed98677529a5","type":"User","tenantId":"85c73340-1c24-4f84-9426-72e4d2143da2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-05-15T04:37:00.8391229Z","connectionKeySavedTimeKey":"2025-05-15T04:37:00.8391229Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"Id::AQMkAGU1OWEzMmZmAC00YTNlLTQ5MmMtYmM5ZC1mMDQ5Yzg0NWM5MmYALgAAAzlcjushBMVGnWjcxmiW0RIBAFUcS7AVv09Aotv3OZYFymAAAAIBDAAAAA==":"Inbox"},"type":"OpenApiConnectionNotification","inputs":{"parameters":{"subjectFilter":"Task","folderPath":"Id::AQMkAGU1OWEzMmZmAC00YTNlLTQ5MmMtYmM5ZC1mMDQ5Yzg0NWM5MmYALgAAAzlcjushBMVGnWjcxmiW0RIBAFUcS7AVv09Aotv3OZYFymAAAAIBDAAAAA=="},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Html_to_text":{"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{triggerOutputs()?['body/body']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}},"Compose_-_split_lines":{"runAfter":{"Html_to_text":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('Html_to_text')?['body'], decodeUriComponent('%0A'))"},"Filter_-_task_line":{"runAfter":{"Compose_-_split_lines":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Compose_-_split_lines')","where":"@contains(item(),'Task')"}},"Compose_-_task":{"runAfter":{"Filter_-_task_line":["Succeeded"]},"type":"Compose","inputs":"@trim(last(split(first(outputs('Filter_-_task_line')?['body']), 'Task:')))"},"Filter_-_date_line":{"runAfter":{"Compose_-_task":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Compose_-_split_lines')","where":"@contains(item(),'Date')"}},"Compose_-_date":{"runAfter":{"Filter_-_date_line":["Succeeded"]},"type":"Compose","inputs":"@trim(last(split(first(outputs('Filter_-_date_line')?['body']), 'Date:')))"},"Filter_-_duration_line":{"runAfter":{"Compose_-_date":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Compose_-_split_lines')","where":"@contains(item(),'Duration')"}},"Compose_-_duration":{"runAfter":{"Filter_-_duration_line":["Succeeded"]},"type":"Compose","inputs":"@trim(last(split(first(outputs('Filter_-_duration_line')?['body']), 'Duration:')))"},"Add_a_row_into_a_table":{"runAfter":{"Compose_-_duration":["Succeeded"]},"metadata":{"01D54L5QHUM6IHM22BEZEYOR3DMMPUSWD3":"/internship.xlsx","tableId":"{A0521C5E-E6DE-4D9C-AAD4-70CC5FA45976}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!Op4Bc_b17k-ieck8t6afKP6CbuT6kFZAh7H6OvgAB0izUZWJaK8pTYQoj0VQuGm7","file":"01D54L5QHUM6IHM22BEZEYOR3DMMPUSWD3","table":"{A0521C5E-E6DE-4D9C-AAD4-70CC5FA45976}","item/To":"@triggerOutputs()?['body/toRecipients']","item/From":"@triggerOutputs()?['body/from']","item/Subject":"@triggerOutputs()?['body/subject']","item/Task":"@outputs('Compose_-_task')","item/Due Date":"@outputs('Compose_-_date')","item/Duration":"@outputs('Compose_-_duration')","item/Assigned To":"NULL","item/Status":"Pending"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@or(contains(triggerOutputs()?['body/Subject'], 'Re:'), contains(triggerOutputs()?['body/Subject'], 'Fwd:'))","@true"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-84c379b0-c02a-461c-b0c1-938418d3585a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_conversionservice":{"connectionName":"ac039a8fca37481d84bf9b308752286e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified","apiName":"conversionservice"},"shared_excelonlinebusiness":{"connectionName":"d18ecb09d47e4bcbb46dc858b97c5ace","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}